//contains all the resets, variables, mixins, and utility classes

//VARIABLES
$primary-color: white;
$secondary-color: #BD242B;
$tertiary-color: #111112;
$accent-1: #F5F5F5;
$ia-color: #001B71;


//MIXINS

@mixin windowSettings{
    box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.56);
    position: absolute;
    background-color: white;
    border-radius: 10px;
}

@mixin icon-settings{
    content: "";
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: -10%;
}


//GENERAL UTILITY CLASSES

.hidden {
    display: none;
}

.isActive {
    display: block;

    .close {
        display: block;
    }
}

.close {
    display: none;
}

.pin:hover{
    cursor: pointer;
}

.big {
    width: clamp(280px, 23vw, 23vw);
}

.medium{
    width: clamp(200px, 16vw, 16vw);
}

.small{
    width: clamp(175px, 15vw, 15vw);
}

/////DISCLAIMER WINDOW 

#disclaimerWindow{
    img{
        margin-right: 1.5vw;
    }
}

/////SCREEN ONE STYLING 

#textContainer {
    .closeIcon{
        right: 3vw;
    }
}

.destItem p:hover{
    cursor: pointer;
    transform: translateX(2px);
    font-weight: 600;
    color: $secondary-color;
}

.destItem p:active,
.destItem p:focus,
.destItem p:target{
    font-weight: 600;
}

///////RESULT SCREEN STYLING 

#resultHeader {
    height: min-content;
}

#priceGraphPopup{
    @include windowSettings;
    z-index: 5;
    padding: 0.5vw 2vw 2vw 2vw;

    img{
        height: clamp(100px,6vw, 6vw);
    }
}

#routeTitle {
    display: flex;
    justify-content: space-between;
}

#resultScreen {
    .closeIcon{
        right: 1vw;
    }
    h2{
        color: $secondary-color;
        span{
            vertical-align: middle;
            margin-right : 1vw;
        }
    }

    .machineImg {
        padding: 10px 0;
        height: auto;
        margin: auto;
        display: block;
    }


    .routeInfo{
        padding: 0 2vw;
    }
}


    //RESULT SCREEN ICONS

#priceGraphPopup{
    .closeIcon{
        padding-top: 0.5vw;
        width: clamp(25px, 1vw, 1vw);
        height: min-content;
    }
    }

.infoIcon::after{
    background: url("info-icon.svg");
    margin-left: 5px;
    @include icon-settings;
    cursor: pointer;
}

.food::before{
    background: url("food-icon.png");
    @include icon-settings;
}

.luggage::before{
    background: url("luggage-icon.png");
    @include icon-settings;
}

.entertainment::before{
    background: url("entertainment-icon.png");
    @include icon-settings;
}

    //RESULT SCREEN UTILITY CLASSES

.column {
    display: flex;
}

.bottomColumn{
    justify-content: space-around;
}

.topColumn{
    justify-content: space-between;
}

.transitDestination{
    font-weight: 400;
  }

    //RESULT FOOTER

#resultFooter{
    padding: 1vw;

    .btn{
        margin: 0.5vw;
        padding: 10px 20px;
    }
    #iaButton{
        border: 2px solid $ia-color;
        color: $ia-color;
        transition: 0.25s,
      }

    #agButton{
        border: 2px solid $secondary-color;
        color: $secondary-color;
        transition: 0.25s,
    }

    #agButton:hover{
        background-color: $secondary-color;
    }

    #iaButton:hover{
        background-color: $ia-color;
    }

    #agButton:hover,
    #iaButton:hover{
        color: white;
    }
}

////NOT FOUND PLACEHOLDER

#notFoundWindow {
    img {
        position: relative;
        height: clamp(40px, 2vw, 2vw);
        top: 5%;
        left: 5%;
    }
}

///////LEGEND ICONS

.heliport::before{
    background: url("heliport-icon.svg");
    @include icon-settings;
}

.international::before{
    background: url("international-airport-icon.svg");
    @include icon-settings;
}

.domestic::before{
    background: url("domestic-airport-icon.svg");
    @include icon-settings;
}

.ag-route::before{
    content: "– ";
    color: $secondary-color;
    font-weight: 800;
}

.ia-route::before{
    content: "– ";
    color: $ia-color;
    font-weight: 800;
}