//contains all the resets, variables, mixins, and utility classes
//VARIABLES

$primary-color: white;
$secondary-color: #BD242B;

body{
    margin: 0;
    background-color: #83B5F4;
}

#mapOverlay svg{
    height: 100vh;
    position: absolute;
    z-index: 0;
}

#mapBG{
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.line{
    height: 1px;
    background-color: grey;
    width: 95%;
}

ul{
    list-style: none;
    padding: 0;
}

.hidden{
    transition: 0.3s;
    display: none;
}

#mapOverlay svg .route{
    visibility: hidden;
}

#mapOverlay svg .pin:hover::after {
    content: "HELLO";
}

.changeScreen{
    animation: fadeOutIn 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutIn{
    0% {
        opacity: 1;
        visibility:  visible;
    }
    30%{
        opacity: 0;
        visibility: hidden;
    }

    30%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50px);
    }

    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
//#mapOverlay svg .pin:before {
//    content: attr(data-hover);
//    visibility: hidden;
//    opacity: 0;
//    width: 140px;
//    background-color: black;
//    color: #fff;
//    text-align: center;
//    border-radius: 5px;
//    padding: 5px 0;
//    transition: opacity 0.3s ease-in-out;
//
//    position: absolute;
//    left: 0;
//    top: 110%;
//}
//
//#mapOverlay svg .pin:hover:before {
//    opacity: 1;
//    visibility: visible;
//}



/*#mapOverlay svg .pin:hover::after{
    transition: 0.3s ease-in-out;
    opacity: 0.75;

}*/
