//all the Sass code handling the layout, which is the container and grid systems

body{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 12vh 88vh;
}


.formWindow{
    grid-column-start: 2;
    box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.56);
    grid-row-start: 2;
    background-color: white;
    margin: 2vh 2vh 2vh 0;
    border-radius: 10px;
    padding: 1vw 3vw;
    overflow: scroll;
}

.disclaimerWindow{
    grid-column-start: 2;
    box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.56);
    grid-row-start: 1;
    height: 10vh;
    margin: 2vh 2vh 0 0;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height: 4vh;
        margin-right: 1vw;
    }
}