//all the Sass code handling the layout, which is the container and grid systems
@mixin windowSettings{
    box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.56);
    position: absolute;
    background-color: white;
    border-radius: 10px;
}

#legendWindow{
    @include windowSettings;
    height: min-content;
    width: max-content;
    bottom: 0;
    left: 1vw;
    bottom: 1vw;
    padding: 0 10px 0 10px;
}

#textContainer {
    padding: 1vw 3vw; 
}

.infoIcon{
    height: 4vh;
    margin-right: 1vw;
}

.disclaimerWindow{
    right: 1vw;           
    display: flex;
    align-items: center;
    justify-content: center;
}

.destItem p{
    transition: 0.3s ease-in-out;
}
.destItem p:hover{
    cursor: pointer;
    transform: translateX(2px);
    font-weight: 600;
    color: $secondary-color;
}

#priceGraphPopup{
    @include windowSettings;
    z-index: 5;
    padding: 0.5vw 2vw 2vw 2vw;

    h2{
        text-align: center;
    }

    img{
        height: clamp(100px,6vw, 6vw);
    }
}

.schedulePopupWindow{
    @include windowSettings;
    z-index: 5;
    padding: 0vw 2vw 1vw 1vw;
    height: max-content;
    width: 20vw;

    .closeIcon{
        padding-top: 10px;
    }
    h2{
        color: black;
    }
}

/////DESKTOP ONLY 
@media (min-width: 801px){

    body {
        background-color: #83B5F4;
    }

    .formWindow{
        @include windowSettings;
        width: clamp(420px, 36vw, 36vw);
        right: 1vw;  
        overflow: scroll;
        z-index: 2;
        top: 11vh;
        margin: 2vh 2vh 2vh 0;
        height: 85vh;
    }

    .disclaimerWindow{
        @include windowSettings;
        height: 10vh;
        width: clamp(420px, 36vw, 36vw);
        margin: 2vh 2vh 0 0;
    }

    #resultHeader {
        background-color: $accent-1;
        padding: 1vw;
    }

    #resultFooter{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }

    a{
        padding: 0.5vw 1vw;;
    }
}


/////MEDIA QUERY PHONE 
@media (max-width: 800px) {


    .disclaimerWindow{
        background-color: $accent-1;
        flex-direction: column;
        padding-top: 4vw;
    }

    #mapBG,
    #legendWindow,
    #mapOverlay{
        display: none;
    }

    #resultHeader {
        padding: 4vw 1vw 1vw 1vw;
    }

    #resultFooter{
        text-align: center;
    }

    a{
        padding: 2vw 3vw;
    }

}